<template>
    <div class="img-container">
        <div class="img" :style="{'background-image': imageSneaker}"></div>
        <div class='info-img'>
            <p>{{ image.name }}</p>
        </div>
        <div class="action-img">
            <i class="fa fa-times" @click="$emit('delete-image', image)"></i>
        </div>
    </div>
</template>

<script>
export default {
    name: "UploadSneaker",
    props: ['image'],
    data() {
        return {
            imageSneaker: ''
        }
    },
    watch: {
        'image'() {
            this.displayImage();
        }
    },
    created() {
        this.displayImage();
    },
    methods: {
        displayImage() {
            const fr = new FileReader();
            fr.addEventListener('load', () => {
                this.imageSneaker = `url('${fr.result}')`;
            });

            fr.readAsDataURL(this.image);
        }
    }
}
</script>

<style scoped>
    .action-form .upload-images .img-container .img {
        background-repeat: no-repeat;
        width: 100%;
        height: 5em;
        background-size: cover;
        background-position: center;
    }

    .action-form .upload-images .img-container .info-img,
    .action-form .upload-images .img-container .action-img {
            display: flex;
            justify-content: center;
            align-items: center;
    }

    .action-form .upload-images .img-container .info-img {
        justify-content: start;
    }
</style>