<template>
  <div id="app">
<!--    <img alt="Vue logo" src="./assets/logo.png">-->
<!--    <HelloWorld msg="Welcome to Your Vue.js App"/>-->
<!--    <Header></Header>-->
<!--      <Tovars></Tovars>-->
          <router-view></router-view>

  </div>
</template>

<script>
// import HelloWorld from './components/HelloWorld.vue'
// import Header from "./components/Header";
// import Tovars from "./components/home/Tovars";

export default {
  name: 'App',
  components: {
    // Header,
    // Tovars
    // HelloWorld
  }
}
</script>

<style>
    @import './assets/styles/spinner/spinner.module.css';
    @import './assets/styles/font-awesome/css/all.css';

    body {
        padding: 0;
        margin: 0;
        background: black;
        
    }

  .bodyApp {
      background-color: black;
      padding-right: 2em;
      padding-left: 2em;
      color: white;
      min-height: 100%;
  }

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    color: white;
    overflow-x: hidden;
    position: relative;
  /*color: #2c3e50;*/
}
</style>
