<template>
    <span :class="['category', { active: info.active }]" @click="info.active = !info.active">{{ info.name }}</span>
</template>

<script>
export default {
    name: 'CategoriesCellFilter',
    props: ['info']
}
</script>

<style>

</style>