<template>
    <router-link :to="`${info.route}`" :class="['category', {active: activeClass}]">{{info.name}}</router-link>
</template>

<script>
export default {
    name: 'CategoriesCell',
    props: ['info'],
    computed: {
        activeClass() {
            if(this.$route.params.search === this.info.name 
                || this.info.name === 'All' && !this.$route.params.search)
                return true;
            else 
                return false;
        }
    }
}
</script>

<style scoped>
    /* .category {
        text-decoration: none;
        color: white;
        padding: 0.5em 2.2em;
        border: 2px solid white;
        border-radius: 20px;
        margin: 1em;
        display: block;
        cursor: pointer;
    } */
</style>