<template>
    <div class="body">
        <div class="tovars">
            <router-link class="tovar"
                 v-for="sneaker in sneakers.sneakers"
                 v-bind:key="sneaker._id"
                 v-bind:to="'/sneakerPage/' + sneaker._id">
                
                <span v-if="checkLevelUser > 0" class="icon">
                    <router-link :to="`/edit/${sneaker._id}`"><i class="fas fa-edit"></i></router-link>
                    <i class="fas fa-times" @click.prevent="deleteSneaker(sneaker._id)"></i>
                </span>
                <img v-bind:src="'http://localhost:3000/' + sneaker.imgs[0]"/>
                <p>{{ sneaker.title }} {{ sneaker.model }}</p>
                <p>{{ sneaker.price }}$</p>
            </router-link>
        </div>
    </div>
</template>

<script>
    import { mapState, mapActions } from 'vuex';

    export default {
        name: "Tovars",
        data() {
            return {
            //    user: {
            //        login: localStorage.getItem('login'),
            //        level: localStorage.getItem('level')
            //    } 
            }
        },
        computed: {
            ...mapState({
                sneakers: state => state.sneakers,
                user: state => state.users,
            }),
            checkLevelUser() {
                return !!this.user.login && this.user.level > 0;
            }
        },
        created()
        {
            this.getInfoSneakers();
            
        },
        watch: {
            '$route.path': {
                handler: function() {
                    this.getInfoSneakers();
                },
            }
        },
        methods: {
            ...mapActions('sneakers', [
                'getAllSneakers',
                'getSearchSneakers',
                'sortFilter',
                'deleteSneaker'
            ]),
            
            async getInfoSneakers() {
                if(this.$route.path === '/')
                    this.getAllSneakers();
                else if(this.$route.path === '/sort')
                    await this.sortFilter(this.$route.fullPath);
                else
                    this.getSearchSneakers(this.$route.params.search);
            },
        }
    }
</script>

<style scoped>
    .body {
        color: white;
    }

    .tovars {
        display: grid;
        /* padding: 0 3em; */
        /* flex-wrap: wrap; */
        grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
        align-content: center;
        grid-gap: 3em;
        /* align-items: flex-start; */
        /* justify-content: space-between; */
    }

    .tovar {
        display: block;
        text-decoration: none;
        color: white;
        border: 2px solid white;
        text-align: center;
        /* width: 20%; */
        padding: 1.3em;
        border-radius: 20px;
        /* margin: 1em 1em; */
    }

    .tovar img {
        width: 100%;
        max-width: 20em;
        height: 18em;
        object-fit: cover;
    }

    .icon {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 0.2em;
    }

    .icon a {
        text-decoration: none;
        color: white;
        margin-right: 1em;
    }

    
</style>