<template>
    <div :class="['body-categories', {active: activated}]">
        <div v-if="activated" class="background-categories" @click="$emit('categories-menu-activated')"></div>
        
        <div :class="['categories-menu', {active: activated}]">
            <h1>Categories</h1>
            <h2>Firm name</h2>
            <div class="categories">
                <CategoriesCellFilter v-for="(title, index) in categories.title" :key="index" :info="title"></CategoriesCellFilter>
            </div>
            <h2>Category</h2>
            <div class="categories">
                <CategoriesCellFilter v-for="(category, index) in categories.category" :key="index" :info="category"></CategoriesCellFilter>
            </div>
            <h2>Sizes</h2>
            <div class="categories">
                <CategoriesCellFilter v-for="(size, index) in categories.sizes" :key="index" :info="size"></CategoriesCellFilter>
            </div>
            <button class="button" @click="sortFilter">Sort</button>
        </div>
    </div> 
</template>

<script>
import SneakerService from "../../api/sneakers/SneakerService";
import router from '../../routes';
import CategoriesCellFilter from "./CategoriesCellFilter";

    export default {
        name: "Categories",
        components: {
            CategoriesCellFilter
        },
        props: ['categoriesMenuActivated'],
        data() {
            return {
                categories: {}
            }
        },
        computed: {
            activated() {
                return this.categoriesMenuActivated;
            }
        },
        async created() {
            await this.getAllCategories();
        },
        methods: {
            async getAllCategories() {
                this.categories = await SneakerService.getAllCategories();
                this.categories.title = this.categories.title.reduce((acc, item) => {
                    acc.push({ name: item, active: false });
                    return acc;
                }, []);
                
                this.categories.category = this.categories.category.reduce((acc, item) => {
                    acc.push({ name: item, active: false });
                    return acc;
                }, []);

                this.categories.sizes = this.categories.sizes.reduce((acc, item) => {
                    acc.push({ name: item, active: false });
                    return acc;
                }, []);
            },

            async sortFilter() {
                const activeCategories = {};
                activeCategories.title = this.categories.title.filter(title => !!title.active).map(item => item.name);
                activeCategories.category = this.categories.category.filter(category => !!category.active).map(item => item.name);
                activeCategories.sizes = this.categories.sizes.filter(size => !!size.active).map(item => item.name);
                router.push({ path: '/sort', query: { titles: activeCategories.title.join('_'), categories: activeCategories.category.join('_'), sizes: activeCategories.sizes.join('_') } });
                this.$emit('categories-menu-activated');
            }
        },
    }
</script>

<style scoped>
    .body-categories {
        display: flex;
        width: 100%;
        height: 0;
        /* height: 100vh; */
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        transition-property: height;
        transition-duration: 1s;
    }

    /* .body-categories.active {
        height: 100vh;
    } */

    .background-categories {
        position: fixed;
        width: 100%;
        min-height: 100%;
        background: rgba(0, 0, 0, 0.5); 
        top: 0;
    }

    .categories-menu {
        border: 1px solid white;
        position: fixed;
        color: white;
        /* top: -42em; */
        /* left: 30em; */
        transform: translate(0, -42em);
        min-height: 25em;
        max-height: 40em;
        /* min-height: 80em; */
        /* display: none; */
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        max-width: 40em;
        background: black;
        transition-property: transform;
        transition-duration: 1s;
    }

    .categories-menu.active {
        transform: translate(0, 30em);
    }

    .categories {
        display: flex;
        align-items: flex-start;
        width: 100%;
        /* flex-wrap: wrap; */
        /* justify-content: center; */
        overflow-x: auto;
        margin: 0.5em;
    }

    .categories::-webkit-scrollbar {
        height: 12px;
        margin: 10px;
    }

    .categories::-webkit-scrollbar-track {
        background: white;
    }

    .categories::-webkit-scrollbar-thumb {
        /* background: red; */
        background: slategrey;
        border-radius: 10px;
        margin: 10px;
        border: 2px solid white;
    }

    .categories .category {
        text-decoration: none;
        color: white;
        padding: 0.5em 2.2em;
        border: 2px solid white;
        border-radius: 20px;
        margin: 1em;
        display: block;
        cursor: pointer;
    }

    .categories .category.active {
        text-decoration: none;
        color: black;
        background: white;
        padding: 0.5em 2.2em;
        border: 2px solid white;
        border-radius: 20px;
        margin: 1em;
        display: block;
    }

    .categories-menu .button {
        text-decoration: none;
        color: black;
        background: white;
        padding: 0.5em 2.2em;
        border: 2px solid white;
        border-radius: 20px;
        margin: 1em;
        display: block;
        margin-bottom: 1em
    }
</style>