<template>
    <div class="body">
        <input v-model="email" type="text" name="login" placeholder="email">
        <input v-model="password" type="password" name="password" placeholder="password">
        <button @click="Authorization">Login</button>
    </div>
</template>

<script>
    import { mapActions } from 'vuex';

    export default {
        name: "AuthorizationForm",
        data() {
            return {
                email: '',
                password: ''
            }
        },
        methods: {
            ...mapActions('users', [
                'setUserAction'
            ]),
            
            async Authorization() {
                try {
                    await this.setUserAction({ email: this.email, password: this.password });
                    this.$router.push('/');
                } catch(e) {
                    this.$emit('wrong-data', 'Неправильный логин или пароль!');
                    this.$emit('show-popup');
                    console.log(e.message);
                }
            }
        }
    }
</script>

<style scoped>
    .body {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .body input, .body button{
        color: white;
        border: 2px solid white;
        background: black;
        padding: 1em;
        border-radius: 10em;
        outline: none;
        width: 18%;
        transition-property: width;
        transition-duration: 1s;
        margin-bottom: 2em;
    }

    .body button {
        color: black;
        width: 20%;
        background: white;
        font-weight: bold;
        cursor: pointer;
    }

</style>