<template>
    <div class='body'>
        <input v-model="login" type="text" name="login" placeholder="login">
        <input v-model="email" type="text" name="email" placeholder="email">
        <input v-model="password" type="password" name="password" placeholder="password">
        <button @click="addUser">Registration</button>
    </div>
</template>

<script>
    import UsersService from '../../api/users/UsersService';

    export default {
        name: "RegistrationForm",
        data() {
            return {
                login: '',
                email: '',
                password: ''
            }
        },
        methods: {
            async addUser() {
                try {
                    const message = await UsersService.addUser(this.login, this.email, this.password);
                    if(message) {
                        throw(new Error(message));
                    }
                    this.login = '';
                    this.email = '';
                    this.password = '';
                } catch(e) {
                    console.log('Прошёл падло');
                    this.$emit('wrong-data', 'Неправильный данные!');
                    this.$emit('show-popup');
                    console.log(e.message);
                   
                }
                
            }
        }
    }
</script>

<style scoped>
    .body {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .body input, .body button{
        color: white;
        border: 2px solid white;
        background: black;
        padding: 1em;
        border-radius: 10em;
        outline: none;
        width: 18%;
        transition-property: width;
        transition-duration: 1s;
        margin-bottom: 2em;
    }

    .body button {
        color: black;
        width: 20%;
        background: white;
        font-weight: bold;
    }
</style>