<template>
    <div class="bodyApp">
        <Header></Header>
        
        <div class="body-action">
            <h1>{{ title }}</h1>
            <div class="grid-action">
                <div class="action-form">
                    <input type="text" placeholder="Name" v-model="name">
                    <input type="text" placeholder="Model" v-model="model">
                    <input type="text" placeholder="Category" v-model="category">
                    <textarea placeholder="Description" v-model="description"></textarea>
                    <input type="text" placeholder="Sizes" v-model="sizes">
                    <input type="number" placeholder="Price $" v-model="price">
                    <div class="upload-images">
                        <UploadSneaker v-for="(item, index) in imgs" :key="index" :image="item" @delete-image="deleteImage"></UploadSneaker>
                    </div>
                    <input type="file" @change="nameFile($event)" multiple="multiple">
                    <div class="button"><button @click="actionSneaker">{{ nameButton }}</button></div>
                </div>
                <div class="img-block">
                    <div class="img" ref="imgWatch"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapState, mapGetters, mapActions } from 'vuex';
    import Header from "../components/Header";
    import UploadSneaker from "../components/actionSneakers/UploadSneaker";
    import SneakerService from "../api/sneakers/SneakerService";

    export default {
        name: "ActionSneakers",
        components: {
            Header,
            UploadSneaker
        },
        data() {
            return {
                title: 'Add New Sneaker',
                nameButton: 'Add',
                name: '',
                model: '',
                category: '',
                description: '',
                sizes: '',
                price: '',
                imgs: []
            }
        },
        computed: {
            ...mapState({
                user: state => state.users
            }),
            ...mapGetters('sneakers', [
                'getSneaker'
            ])
        },
        created() {
            if(this.user.level < 1)
                this.$router.push('/');
            if(!this.$route.meta.add) {
                const sneaker = this.getSneaker(this.$route.params.id);
                // console.log('this.$refs.img:', this.$refs.img);
                this.title = 'Edit Sneaker';
                this.nameButton = 'Edit';
                
                this.id = sneaker._id;
                this.name = sneaker.title;
                this.model = sneaker.model;
                this.category = sneaker.category;
                this.description = sneaker.description;
                this.sizes = sneaker.sizes.join();
                this.price = sneaker.price;
            }
        },
        async mounted() {
            const sneaker = this.getSneaker(this.$route.params.id);
            console.log(sneaker);
            if(!this.$route.meta.add) {
                // this.$refs.imgWatch.style.backgroundImage = `url("http://localhost:3000/${sneaker.imgs[0]}")`;
                const buffers = await SneakerService.buffer(this.$route.params.id);
                // buffers.reverse();
                buffers.forEach((buffer, index) => {
                    const bytes = new Uint8Array(buffer.data);
                    const blob = new Blob([bytes.buffer]);
                    
                    blob.lastModified = new Date();
                    const file = new File([blob], ++index + '.jpg');
                    this.imgs.push(file);
                    
                });
                const fr = new FileReader();
                fr.addEventListener("load", () => {
                    this.$refs.imgWatch.style.backgroundImage = `url("${fr.result}")`;
                }, false);
                fr.readAsDataURL(this.imgs[0]);
                
            }
                
        },
        methods: {
            ...mapActions('sneakers', [
                'addSneaker',
                'editSneaker'
            ]),
            nameFile(e) {
                // console.log(e);
                const fr = new FileReader();
                fr.addEventListener("load", () => {
                    console.log('fr:', fr);
                    this.$refs.imgWatch.style.backgroundImage = `url("${fr.result}")`;
                }, false);

                // fr.readAsArrayBuffer(e.target.files[0])
                fr.readAsDataURL(e.target.files[0]);
                e.target.files.forEach(item => {
                    console.log('item', item);
                    this.imgs.push(item);
                });
            },

            deleteImage(image) {
                this.imgs = this.imgs.filter(item => item !== image);
            },
            
            async actionSneaker() {
                if(!this.$route.meta.add) {
                    if(this.name && this.model && this.category && this.description && this.sizes && this.price) {
                        const sneaker = {
                            id: this.id,
                            info: {
                                name: this.name,
                                model: this.model,
                                category: this.category,
                                description: this.description,
                                sizes: this.sizes,
                                price: this.price,
                            }
                        };
                        if(this.imgs) sneaker.info.imgs = this.imgs;
                        await this.editSneaker(sneaker);
                        this.$router.push('/');
                    }
                    else {
                        console.log('Данные пустые!');
                        
                    }
                }
                if(this.name && this.model && this.category && this.description && this.sizes && this.price && this.imgs) {
                    console.log('this.imgs', this.imgs);
                    await this.addSneaker({
                        name: this.name,
                        model: this.model,
                        category: this.category,
                        description: this.description,
                        sizes: this.sizes,
                        price: this.price,
                        imgs: this.imgs
                    });
                    this.$router.push('/');
                }
                else
                    console.log('Данные пустые!');
            }
        }
    }
</script>

<style scoped>
    .body-action {
        padding: 0 1em;
    }

    .body-action h1 {
        padding-left: 4em;
    }

    .grid-action {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .action-form {
        display: flex;
        flex-direction: column;
        padding: 0 3em;
    }

    .action-form input, .action-form textarea {
        background: black;
        border: 2px solid white;
        padding: 1em;
        border-radius: 2em;
        margin-bottom: 2em;
        color: white;
        outline: none;
    }

    .action-form textarea {
        min-height: 30em;
        resize: none; 
    }

    .action-form input[type="number"] {
        width: 10em;
    }

    .action-form .upload-images .img-container {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 1fr 4fr 1fr;
        padding-bottom: 0.5em;
        width: 100%;
        border-bottom: 1px solid white;
        /* border-radius: 20px; */
        margin-bottom: 2em; 
    }   

    .action-form .upload-images .img-container .img {
        background-repeat: no-repeat;
        width: 100%;
        height: 5em;
        background-size: cover;
        background-position: center;
    }

    .action-form .upload-images .img-container .info-img,
    .action-form .upload-images .img-container .action-img {
            display: flex;
            justify-content: center;
            align-items: center;
    }

    .action-form .upload-images .img-container .info-img {
        justify-content: start;
    }

    .action-form .button {
        display: flex;
        justify-content: center;
    }

    .action-form .button button {
        width: 10em;
        background: white;
        border: 2px solid white;
        padding: 1em;
        border-radius: 2em;
        font-weight: bold;
    }

    .grid-action .img-block {
        display: flex;
        padding: 1em 10em;
    }

    .grid-action .img-block .img {
        background-repeat: no-repeat;
        width: 100%;
        height: 30em;
        background-size: cover;
        background-position: center;
    }
</style>