<template>
    <div class="body">
        <router-link to="/" class="homeRoute">Back</router-link>
        <div class='form'>
            <div class="change-sing">
                <router-link to="login" :class="activeField('Login')">Sing in</router-link>
                <router-link to="registration" :class="activeField('Registration')">Sing up</router-link>
            </div>
            <router-view @wrong-data="wrongData" @show-popup="showPopup = !showPopup"/>
        </div>
        <Popup v-if="showPopup" :text-popup="textPopup" @show-popup="showPopup = !showPopup"></Popup>
    </div>
</template>

<script>
    import Popup from '../components/Popup';

    export default {
        name: "Authorization",
        data() {
            return {
                showPopup: false,
                textPopup: ''
            }
        },
        components: {
            Popup
        },
        methods: {
            activeField(name) {
                if(this.$route.name === name)
                    return 'active';
                return '';
            },
            wrongData(message) {
                console.log('Не пройдёшь!');
                this.textPopup = message;
            }
        }
    }
</script>

<style scoped>
    body {
        padding: 0;
        margin: 0;
    }

    .body {
        background: black;
    }

    .body .homeRoute {
        position: absolute;
        left: 3em;
        top: 1em;
        color: white;
    }

    .body .change-sing {
        display: flex;
        /* width: 25em; */
    }

    .body .change-sing a {
        padding: 0.5em 1.2em;
        margin: 0;
        cursor: pointer;
        margin-bottom: 1em;
        text-decoration: none;
        color: white;
        font-size: 2rem;
    }

    .body .change-sing a.active {
        /* background: white;
        color: black; */
        border-bottom: 2px solid white;
    }

    .body .form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>