<template>
    <div class="bodyApp">
        <Header></Header>

        <div class="body-bag">
            <h1 class="title-bag">You Bag</h1>
            <div class="tovars-bag">
                <div class="tovar" v-for="(sneaker, index) in bag" :key="index">
                    <img :src="`http://localhost:3000/${sneaker.info.imgs[0]}`">
                    <div class="info-tovar">
                        <p>Name: {{ sneaker.info.title }}</p>
                        <p>Model: {{ sneaker.info.model }}</p>
                        <p>Size: {{ sneaker.sizes.join(', ') }}</p>
                    </div>
                    <div class="price">
                        <i class="fa fa-times" @click="deleteSneaker(index)"></i>
                        <p>{{ sneaker.info.price * sneaker.sizes.length }}$</p>
                        <button @click="buySneaker(sneaker.info._id)">Buy</button>
                    </div>
                </div>
            </div>

            <div class="total-price">
                <h1>Total Price</h1>
                <p>{{ bag.length }} Item</p>
                <p>{{ getAllSum }}$</p>
                <button @click="buyAllSneakers">Buy</button> 
            </div>

        </div>
        <Popup v-if="showPopup" text-popup="Товар куплен!" @show-popup="showPopup = !showPopup"></Popup>
    </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import Header from '../components/Header';
import Popup from '../components/Popup';
import UsersService from "../api/users/UsersService";
import SneakerService from "../api/sneakers/SneakerService";

export default {
    name: "BagPage",
    components: {
        Header,
        Popup
    },
    data() {
        return {
            bag: [],
            showPopup: false
        }
    },
    computed: {
        ...mapState({
            user: state => state.users
        }),
        getAllSum() {
            return this.bag.reduce((sum, current) => sum + current.info.price * current.sizes.length, 0);
        }
    },
    async created() {
        // console.log('user:', this.user.level);
        if(this.user.level < 0) {
            this.$router.push('/');
        }
        const bagUser = await this.getBag();
        const arraySneakers = bagUser.map(item => item.id);
        const sneakers = await SneakerService.getArraySneakers(arraySneakers);
        
        this.bag = sneakers.map(item => {
            const { changeSize } = bagUser.find(element => element.id === item._id);
            return {
                info: item,
                sizes: changeSize
            }
        });
    },
    methods: {
        ...mapActions('users', [
            'getBag'
        ]),
        async deleteSneaker(index) {
            this.bag.splice(index, 1);
            const newBag = this.bag.map(item => ({ id: item.info._id, changeSize: [...item.sizes] }));
            await UsersService.updateUser(this.user.id, { bag: newBag });
        },
        async buySneaker(index) {
            this.deleteSneaker(index);
            this.showPopup = !this.showPopup;
        },
        async buyAllSneakers() {
            this.bag = [];
            await UsersService.updateUser(this.user.id, { bag: this.bag });
            this.showPopup = !this.showPopup;
        }
    }
}
</script>

<style scoped>

    .body-bag {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1em;
    }

    .title-bag {
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .tovars-bag {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .tovars-bag img{
        width: 100%;
        height: 8em;
        object-fit: cover;
        margin-right: 1em;
    }

    .tovars-bag .tovar {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 1fr 4fr 1fr;
        font-weight: bold;
        border-bottom: 3px solid white;
        padding-bottom: 1em;
        margin-bottom: 1em;
    }

    .tovars-bag .price {
        position: relative;
        text-align: center; 
    }

    .tovars-bag .price .fa-times {
        position: absolute;
        right: 0.1em;
    }

    .body-bag button {
        text-decoration: none;
        color: black;
        font-weight: bold;
        padding: 0.5em 2.2em;
        border: 2px solid white;
        border-radius: 20px;
        cursor: pointer;
        font-size: 1em;
    }

    .total-price {
        /* height: 5em; */
        height: 17em;
        border: 1px solid white;
        text-align: center;
    }

    .total-price p {
        font-size: 24px;
    }

</style>