<template>
    <div>
        <div class="bodyApp">
            <Header></Header>
            <Tovars></Tovars>
            <!-- <Categories></Categories> -->
        </div>
    </div>
</template>

<script>
    import Header from "../components/Header";
    import Tovars from "../components/home/Tovars";
    // import Categories from "../components/home/Сategories";

    export default {
        name: 'Home',
        components: {
            Header,
            Tovars,
            // Categories
        },
    }
</script>

<style>
    /*body {*/
    /*    background-color: black;*/
    /*    padding-right: 2em;*/
    /*    padding-left: 2em;*/
    /*    color: white;*/
    /*}*/

    /*#app {*/
    /*    font-family: Avenir, Helvetica, Arial, sans-serif;*/
    /*    -webkit-font-smoothing: antialiased;*/
    /*    -moz-osx-font-smoothing: grayscale;*/

    /*    color: #2c3e50;*/

    /*}*/
</style>
