<template>
    <div class="body">
        <Header></Header>
        <div class="form">
            <input v-model="login" type="text" name="login" placeholder="Login">
            <input v-model="oldPassword" type="password" name="oldPassword" placeholder="Old password">
            <input v-model="newPassword" type="password" name="newPassword" placeholder="New password">
            <input v-model="oldEmail" type="email" name="oldEmail" placeholder="Old email">
            <input v-model="newEmail" type="email" name="newEmail" placeholder="New email">
            <button @click="updateUser">Change</button>
        </div>
        <Popup v-if="showPopup" text-popup="Товар куплен!" @show-popup="showPopup = !showPopup"></Popup>
    </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex';
import UserService from "../api/users/UsersService";

import Header from "../components/Header";
import Popup from '../components/Popup';

export default {
    name: "Profile",
    components: {
        Header,
        Popup
    },
    data() {
        return {
            login: '',
            oldPassword: '',
            newPassword: '',
            oldEmail: '',
            newEmail: '',
            showPopup: false,
            textPopup: ''
        }
    },
    computed: {
        ...mapState({
            user: state => state.users
        })
    },
    created() {
        if(this.user.level < 0) {
            this.$router.push('/');
        }
    },
    methods: {
        ...mapMutations('users', [ 'updateLogin' ]),

        async updateUser() {
            const oldInfo = {};
            const newInfo = {};
            if(this.login) {
                newInfo.login = this.login;
            }

            if(this.oldPassword && this.newPassword) {
                oldInfo.password = this.oldPassword;
                newInfo.password = this.newPassword;
            }

            if(this.oldEmail && this.newEmail) {
                oldInfo.email = this.oldEmail;
                newInfo.email = this.newEmail;
            }

            if(this.isEmpty(oldInfo) || this.isEmpty(newInfo)) {
                if(newInfo.login) {
                    const result = await UserService.updateUser(this.user.id, newInfo);
                    this.updateLogin(newInfo.login);
                    console.log('result:', result);

                    this.textPopup = result ? 'Некоректные данные' : 'Данные измененны';

                    return;
                }
                this.textPopup = 'Незаполнены данные'
                return console.log('Незаполнены данные');
            }

            const result = await UserService.updateUser(this.user.id, newInfo, oldInfo);
            this.textPopup = result ? 'Некоректные данные' : 'Данные измененны';
                
        },
        isEmpty(obj) {
            return JSON.stringify(obj) === '{}';
        }
    }
}
</script>

<style scoped>
    .body {
        padding: 0 1em;
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2em;
    }

    .form input {
        color: white;
        border: 2px solid white;
        background: black;
        padding: 1em;
        border-radius: 10em;
        outline: none;
        width: 18%;
        transition-property: width;
        transition-duration: 1s;
        margin-bottom: 1em;
    }

    .form button {
        color: black;
        width: 9%;
        background: white;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
        border: 2px solid white;
        background: white;
        padding: 0.7em;
        border-radius: 10em;
        outline: none;
        transition-duration: 1s;
        transition-property: width;
        margin-bottom: 1em;
    }

</style>