<template>
    <div class="bodyApp">
        <Header></Header>
        <SneakerPage/>
    </div>

</template>

<script>
    import Header from "../components/Header";
    import SneakerPage from "../components/sneakerPage/SneakerPage";

    export default {
        name: "Sneakers",
        components: {
            Header,
            SneakerPage
        }
    }
</script>

<style scoped>

</style>