<template>
    <div class="body">
        <Menu :menu-activated="menuActivated" @menu-activated="getActiveMenu"/>
        <div class="img">
            <router-link to="/"><img src="../assets/Logo Shop.png" height="76" width="154"/></router-link>
            <img class="menu-icon" src="../assets/Menu icon.png" height="37" width="48" @click="getActiveMenu"/>
        </div>
        <div class="div-search">
            <input type="text" placeholder="search" v-model="search" v-on:keyup.enter="getSearch(search)">
        </div>
        <div class="categories" ref="categoriesBlock">
            <!-- <router-link to="/" class="category active">All</router-link> -->
            <CategoriesCell v-for="(item, index) in computedCategoriesCells" :key="index" :info="categoriesCells[index]" ref="categoriesCells"></CategoriesCell>
            <!-- <router-link to="/search/Adidas" class="category">Adidas</router-link>
            <router-link to="/search/Nike" class="category">Nike</router-link>
            <router-link to="/search/Puma" class="category">Puma</router-link> -->
            <span class="category" @click="getActiveCategoriesMenu">...</span>
        </div>
        <Categories :categories-menu-activated="categoriesMenuActivated" @categories-menu-activated="getActiveCategoriesMenu"></Categories>
        <hr>
    </div>



</template>

<script>
    // import {mapActions} from 'vuex'
    import eventBus from "../common/eventBus";
    import Menu from "../components/Menu";
    import Categories from "../components/home/Сategories";
    import CategoriesCell from "../components/home/CategoriesCell";
    import SneakerService from "../api/sneakers/SneakerService";

    export default {
        name: "Header",
        components: {
            Menu,
            Categories,
            CategoriesCell
        },
        data() {
            return {
                search: '',
                menuActivated: false,
                categoriesMenuActivated: false,
                categoriesCells: [],
                widthWindow: window.innerWidth
                // CategoriesCell: SneakerService.getCategories()
            }
        },
        computed: {
            computedCategoriesCells() {
                return this.categoriesCells.slice(0, 5);
            }
        },
        methods: {
            async getSearch(search) {
                await this.$router.push('/search/' + search).catch();
                eventBus.$emit('search', search);
            },
            getActiveMenu() {
                this.menuActivated = !this.menuActivated;
            },
            getActiveCategoriesMenu() {
                this.categoriesMenuActivated = !this.categoriesMenuActivated;
            },
            async getCategoriesCells() {
                this.categoriesCells = await SneakerService.getCategories();
                this.categoriesCells = this.categoriesCells.reduce(
                    (acc, n) => {
                        acc.push({name: n, route: `/search/${n}`, isActive: false});
                         return acc;
                         }, [{name: 'All', route: '/', isActive: true}]);
                console.log('this.categoriesCells:', this.categoriesCells);
            },
            async getWidthWindow() {
                this.widthWindow = window.innerWidth;
                if(this.widthWindow < 411) {
                    this.categoriesCells = this.categoriesCells.slice(0, 2);
                    this.$refs.categoriesBlock.style.gridTemplateColumns = 'repeat(3, 1fr)';
                }
                
                else if(this.widthWindow >= 400 && this.widthWindow < 850) {
                    if(this.categoriesCells.length < 3)
                        await this.getCategoriesCells();
                    console.log('this.$refs.categoriesCells', this.$refs.categoriesCells[0].$el);
                    this.categoriesCells = this.categoriesCells.slice(0, 3);
                    this.$refs.categoriesBlock.style.gridTemplateColumns = 'repeat(4, 1fr)';
                }
                else {
                    this.$refs.categoriesBlock.style.gridTemplateColumns = 'repeat(6, 10em)';
                    await this.getCategoriesCells();
                }
            },

            // clickOnCategory(category) {
            //     console.log('Сработало', category);
            //     category.isActive = !category.isActive;
            // }

            // ...mapActions([
            //     'getSearchSneakers'
            // ]),
            // getValue: (value) => {
            //     console.log(value);
            // }
        },
        created() {
            this.getCategoriesCells();
            // this.getWidthWindow();
            
        },
        mounted() {
            this.getWidthWindow();
            window.onresize = () => this.getWidthWindow();
        },
        watch: {
            categoriesCells(val) {
                this.categoriesCells = val;
            },
        }
    }
</script>

<style scoped>
    .body {
        color: white;
    }

    .img {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .categories {
        /* padding: 0 25em; */
        display: grid;
        /* width: 100%; */
        grid-gap: 0.3em;
        grid-template-columns: repeat(6, 10em); 
        align-items: center;
        align-content:center;
        justify-content: center;
        justify-items: center;
    }

    .categories .category {
        text-decoration: none;
        color: white;
        padding: 0.5em 2.2em;
        border: 2px solid white;
        border-radius: 20px;
        /* margin: 1em; */
        display: block;
        cursor: pointer;
        font-size: 1em;
    }

    .categories .category.active {
        background-color: white;
        color: black;
    }

    .div-search {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 1em;
    }

    .div-search input[type="text"] {
        color: white;
        background: none;
        /*border: none;*/
        border: 2px solid white;
        padding: 1em;
        border-radius: 10em;
        outline: none;
        width: 12%;
        transition-property: width;
        transition-duration: 1s;
    }

    .div-search input[type="text"]:focus {

        width: 100%;
    }

    hr {
        color: white;
        padding-right: 2em;
        padding-left: 2em;
    }

    .menu-icon:hover {
        cursor: pointer;
    }

    @media screen and (max-width: 850px) {
        .categories {
            justify-content: none;
        }

        .categories .category {
            font-size: 0.8em;
        }

        .div-search input[type="text"] {
            width: 100%;
        }
    }

    /*.img {*/
    /*    position: relative;*/
    /*}*/

    /*.menu-icon {*/
    /*    position: relative;*/
    /*    float: right;*/
    /*    right: 1.5em;*/
    /*    top: 2.5em*/
    /*}*/

</style>