<template>
    <div class="body">
        <div v-if="activated" class="background-menu" @click="$emit('menu-activated')"></div>
        <div :class="['menu', {active: activated}]">
            <div class="main-menu-block">
                <router-link v-if="user.login" to="/profile" class="menu-item router">{{ user.login }}</router-link>
                <router-link v-if="!user.login" to="/authorization/login" class="menu-item router">Login</router-link>
                <router-link v-if="user.login" to="/bag" class="menu-item router">Bag</router-link>
                <router-link v-if="checkLevelUser" to="/add" class="menu-item router">Add Sneaker</router-link>
            </div>
            <div v-if="user.login" class="menu-item log-out" @click="logOutUser">Log Out</div>
            <div></div>
        </div>
    </div>
</template>

<script>
    import { mapState, mapActions } from 'vuex';

    export default {
        name: "Menu",
        data() {
            return {
                // user: {
                //     login: localStorage.getItem('login'),
                //     level: localStorage.getItem('level')
                // }
            }
        },
        props: ['menuActivated'],
        computed: {
            ...mapState({
                user: state => state.users
            }),

            activated() {
                return this.menuActivated;
            },
            checkLevelUser() {
                return !!this.user.login && this.user.level > 0;
            }
        },
        methods: {
            ...mapActions('users', [
                'logOutUserAction'
            ]),

            logOutUser() {
                this.logOutUserAction();
                // this.user.login = '';
                // this.user.level = '';  
            }
        },
        created() {
            console.log('this.user:', this.user);
        }
    }
</script>

<style scoped>
    /* .body {
        position: fixed;
        width: 100%;
        min-height: 100%;
        top: 0;
    } */

    .background-menu {
        position: fixed;
        width: 100%;
        min-height: 100%;
        background: rgba(0, 0, 0, 0.5);
        top: 0;
    }

    .body .menu {
        display: flex;
        width: 25em;
        border-left: 1px solid white;
        background: black;
        position: fixed;
        height: 100%;
        flex-direction: column;
        right: -26em;
        transition-property: right;
        transition-duration: 1s;
    }

    .body .menu.active {
        right: 0;
    }

    .body .menu .main-menu-block {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .body .menu .menu-item {
        color: white;
        text-decoration: none;
        /* font-weight: bold; */
        font-size: 1.5rem;
        text-align: center;
        padding: 1em 0;
        border-bottom: 1px solid white;
    }

    .body .menu .log-out {
        border-top: 1px solid white;
        transition-property: background-color, color;
        transition-duration: 0.5s;
        cursor: pointer;
    }

    .body .menu .log-out:hover {
        color: black;
        background-color: white;
    }

    .body .menu .router {
        font-weight: bold;
        transition-property: background-color, color;
        transition-duration: 0.5s;
    }

    .body .menu .router:hover {
        color: black;
        background-color: white;
    }

</style>