<template>
    <div class="body-popup">
        <div class="background" @click="$emit('show-popup')"></div>
        <div class="popup">
            <h1>Уведомление</h1>
            <h2 class="item">{{ textPopup }}</h2>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Popup',
    props: ['textPopup']
}
</script>

<style scoped>
    .body-popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.5);
    }

    .body-popup .background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%
    }

    .body-popup .popup {
        display: flex;
        position: fixed;
        flex-direction: column;
        text-align: center;
        width: 40em;
        height: 17em;
        background: black;
        border: 1px solid white;
        border-radius: 2em;
    }

    .body-popup .popup h1{
        margin-top: 1em;
    }

    .body-popup .popup .item {
        margin-top: 2.3em;
    }

</style>