<template>
    <button v-bind:class="{ active: checkActive.isActive }" v-on:click="clickAction">{{ checkActive.text }}</button>
</template>

<script>
    export default {
        name: "Cell",
        props: {
            size: {
                type: Object,
                default: () => {}
            }
        },
        computed: {
            checkActive() {
                console.log('this.size:', this.size);
                return this.size ? this.size : {
                    text: '',
                    isActive: false
                }
            }
        },
        // created() {
        //     console.log('this.size:', this.size)
        // },
        methods: {
            clickAction() {
                this.$emit('onchoose', this.size);
            }
        }
    }
</script>

<style scoped>

</style>