<template>
    <div class="bodySneaker">
        <div class="sneaker">
            
            <div class="image">
                
                <div v-if="!sneaker" style="width: 11em;">
                    <div class="loader">Loading...</div>
                </div>
                <carousel :per-page="1" class="carousel" v-else>
                    <slide v-for="(img, index) in sneaker.imgs" :key="index"><img v-bind:src="'http://localhost:3000/' + img"/></slide>
                    <!-- <slide><img v-bind:src="'http://localhost:3000/' + sneaker.imgs[0]"/></slide>
                    <slide><img v-bind:src="'http://localhost:3000/' + sneaker.imgs[1]"/></slide> -->
                </carousel>
                
            </div>
            <div class="settingSneaker">
                <h1>{{ sneaker.title }} {{ sneaker.model }}</h1>
                <h2>{{ sneaker.price }}$</h2>
                <div class="table">
                    <div class="td" v-for="n in 12" :key="n-1">
                        <Cell :size="sizes[n-1]" @onchoose="clickActiveCell"></Cell>
                    </div>
                </div>
                <button class="bagButton" @click="addToBag">
                    Add to bag
                </button>
            </div>

            <div class="description">
                <h1>Description</h1>
                <p>
                    {{ sneaker.description }}
<!--                    These retro shoes are inspired by the 1980 Nite Jogger,-->
<!--                    which was designed for running in low light.-->
<!--                    This version has a Star Wars™ theme with a Storm Trooper on the tongue.-->
<!--                    The mesh and leather upper flashes bright reflective details. Boost underfoot returns energy with every step.-->
                </p>
            </div>

        </div>

    </div>
</template>

<script>
    import { mapState, mapActions } from "vuex";
    import { Carousel, Slide } from 'vue-carousel';

    import SneakerService from "../../api/sneakers/SneakerService";
    import UsersService from "../../api/users/UsersService";
    import Cell from "./Cell";
    import router from "../../routes";

    export default {
        name: "SneakerPage",
        components: {
            Cell,
            Carousel,
            Slide
        },
        data() {
            return {
                sneaker: '',
                sizes: []
            }
        },
        computed: {
            ...mapState({
                user: state => state.users
            })
        },
        async created()
        {
            try {
                this.sneaker = await SneakerService.getSneaker(this.$route.params.id);
                this.sizes = this.sneaker.sizes.map(item => ({
                    text: item,
                    isActive: false
                }));
                console.log("Получилось:", this.sizes);
                console.log('router.params:', router.history.current.params.id);
            } catch (e) {
                console.log(e.message);
            }
        },
        methods: {
            ...mapActions('users', [
                'getBag'
            ]),
            clickActiveCell(size){
                if(size)
                    size.isActive = !size.isActive;
            },
            async addToBag() {
                const changeSize = this.sizes.filter(item => !!item.isActive).map(item => item.text);
                if(!changeSize.length) {
                    console.log('Change size');
                    return;
                }
                const bag = await this.getBag();

                // const order = {
                //     bag: {
                //         id: this.sneaker._id,
                //         changeSize
                //     }
                // }

                bag.push( {
                        id: this.sneaker._id,
                        changeSize
                    } );

                await UsersService.updateUser(this.user.id, { bag });
                this.$router.push('/bag');
            }
        }
    }
</script>

<style scoped>
    .bodySneaker {
        padding: 0 3em;
    }

    .sneaker {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .sneaker > div {
        width: 50%;
    }

    .sneaker .image {
        text-align: center;
        overflow: hidden;
        /*height: 100px;*/
        height: 30em;
        display: flex;
        align-items: center;
        /* flex-direction: column; */
        justify-content: center;
    }

    .sneaker .image img {
        /*display: block;*/
        object-fit: cover;
        /*object-position: 3em -2em;*/
        width: 80%;
        height: 35em;
    }

    .sneaker .settingSneaker .table {
        margin-bottom: 2.5em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .sneaker .settingSneaker .table div {
        font-size: 2rem;
        background: none;
        border: 1px solid white;
        color: white;
        /* padding: 0.4em 1em; */
        width: 20%;
        height: 2em;
        text-align: center;
    }

    .sneaker .settingSneaker .table div button {
        width: 100%;
        height: 100%;
        background: none;
        font-size: 2rem;
        color: white;
        border: none;
    }

    /* .sneaker .settingSneaker table {
        border-collapse: collapse;
        margin-bottom: 2.5em;
    }

    .sneaker .settingSneaker table td{
        text-align: center;

        border: 1px solid white;

    }

    .sneaker .settingSneaker table td button {
        font-size: 2rem;
        background: none;
        border: none;
        color: white;
        padding: 0.4em 2.5em;
    } */

    .sneaker .settingSneaker button:hover {
        cursor: pointer;
    }

    .sneaker .settingSneaker .bagButton {
        font-size: 1.5rem;
        font-weight: bold;
        padding: 1em 3em;
        background: white;
        border: 1px solid black;
        border-radius: 10em;
    }

    .sneaker .description {
        font-size: 1.1rem;
        width: 90%;
        text-align: justify;
    }

    .sneaker .settingSneaker .table button.active {
        background: white;
        color: black;
        border: 1px solid black;
        /*border: 1px solid white;*/
    }

</style>